# Contents

### 01 Import libraried
### 02 Import data
### 03 Offers consistency checks
### 04 Orders concsistency checks

# 01 Import libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

# 02 Import Data

In [2]:
# create path
path = r"C:\Users\Asus 17\OneDrive\Desktop\Projects\Gett"

In [3]:
#import offers
offers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'data_offers.csv'))

In [13]:
#import orders
orders = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'data_orders.csv'))

# 03 Offers consistency checks

In [5]:
#take a look
offers.shape

(334363, 2)

In [6]:
offers.head()

        order_gk      offer_id
0  3000579625629  300050936206
1  3000627306450  300052064651
2  3000632920686  300052408812
3  3000632771725  300052393030
4  3000583467642  300051001196

### Find Missing Values

In [7]:
# look for nulls
offers.isnull().sum()

order_gk    0
offer_id    0
dtype: int64

### Check for duplicates

In [8]:
#create a subset for offers dups
off_dups = offers[offers.duplicated()]

In [9]:
#take a look
off_dups.shape

(0, 2)

### Check for mixed data types

In [11]:
# check for mixed data type columns
for col in offers.columns.tolist():
    weird = (offers[[col]].applymap(type) != offers[[col]].iloc[0].apply(type)).any(axis=1)
    if len (offers[weird]) > 0:
        print (col)

In [34]:
offers.describe()

           order_gk      offer_id
count  3.343630e+05  3.343630e+05
mean   3.000602e+12  3.000515e+11
std    2.431638e+07  5.276821e+05
min    3.000551e+12  3.000506e+11
25%    3.000585e+12  3.000511e+11
50%    3.000596e+12  3.000516e+11
75%    3.000625e+12  3.000520e+11
max    3.000633e+12  3.000524e+11

# 04 Orders consistency checks

In [14]:
#Take a look
orders.shape

(10716, 8)

In [15]:
orders.head()

,order_datetime,origin_longitude,origin_latitude,m_order_eta,order_gk,order_status_key,is_driver_assigned_key,cancellations_time_in_seconds
0,18:08:07,-0.978916,51.456173,60.0,3000583041974,4,1,198.0
1,20:57:32,-0.950385,51.456843,NaN,3000583116437,4,0,128.0
2,12:07:50,-0.969520,51.455544,477.0,3000582891479,4,1,46.0
3,13:50:20,-1.054671,51.460544,658.0,3000582941169,4,1,62.0
4,21:24:45,-0.967605,51.458236,NaN,3000583140877,9,0,NaN

### Find Missing Values

In [16]:
#find nulls
orders.isnull().sum()

order_datetime                      0
origin_longitude                    0
origin_latitude                     0
m_order_eta                      7902
order_gk                            0
order_status_key                    0
is_driver_assigned_key              0
cancellations_time_in_seconds    3409
dtype: int64

In [17]:
orders['m_order_eta'].describe()

count    2814.000000
mean      441.415423
std       288.006379
min        60.000000
25%       233.000000
50%       368.500000
75%       653.000000
max      1559.000000
Name: m_order_eta, dtype: float64

In [21]:
orders['cancellations_time_in_seconds'].describe()

count    7307.000000
mean      157.892021
std       213.366963
min         3.000000
25%        45.000000
50%        98.000000
75%       187.500000
max      4303.000000
Name: cancellations_time_in_seconds, dtype: float64

In [24]:
# check against order status key. 
orders['order_status_key'].value_counts(dropna = False)

order_status_key
4    7307
9    3409
Name: count, dtype: int64

In [25]:
7307+3409

10716

In [26]:
10716-7902

2814

In [28]:
orders['is_driver_assigned_key'].value_counts(dropna = False)

is_driver_assigned_key
0    7902
1    2814
Name: count, dtype: int64

## Missing Values correspond to

Where driver was not assigned, there was no order eta. \
Where order was cancelled by system, there was no time untill cancelled.

### Check for dups

In [29]:
#create a subset for orders dups
ord_dups = orders[orders.duplicated()]

In [30]:
#take a look
ord_dups.shape

(0, 8)

### Check for mixed data types

In [31]:
#check for mixed data type columns
for col in orders.columns.tolist():
    weird = (orders[[col]].applymap(type) != orders[[col]].iloc[0].apply(type)).any(axis=1)
    if len (orders[weird]) > 0:
        print (col)

In [32]:
orders.dtypes

order_datetime                    object
origin_longitude                 float64
origin_latitude                  float64
m_order_eta                      float64
order_gk                           int64
order_status_key                   int64
is_driver_assigned_key             int64
cancellations_time_in_seconds    float64
dtype: object

In [33]:
orders.describe()

,origin_longitude,origin_latitude,m_order_eta,order_gk,order_status_key,is_driver_assigned_key,cancellations_time_in_seconds
count,10716.000000,10716.000000,2814.000000,1.071600e+04,10716.000000,10716.000000,7307.000000
mean,-0.964323,51.450541,441.415423,3.000598e+12,5.590612,0.262598,157.892021
std,0.022818,0.011984,288.006379,2.396261e+07,2.328845,0.440066,213.366963
min,-1.066957,51.399323,60.000000,3.000550e+12,4.000000,0.000000,3.000000
25%,-0.974363,51.444643,233.000000,3.000583e+12,4.000000,0.000000,45.000000
50%,-0.966386,51.451972,368.500000,3.000595e+12,4.000000,0.000000,98.000000
75%,-0.949605,51.456725,653.000000,3.000623e+12,9.000000,1.000000,187.500000
max,-0.867088,51.496169,1559.000000,3.000633e+12,9.000000,1.000000,4303.000000